.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.Card .Header {
    display: flex;
    justify-content: center;
}

.Card .Header .Title {
    padding: 5px;
    flex: 1;
}

.Card .Content {
    padding: 20px;
}

/* red */
.Card.Red .Header { color: #FFF; background-color: #c62828;}
.Card.Red .Content { color: #FFF; background-color: #f44336;}

/* green */
.Card.Green .Header { color: #FFF; background-color: #2e7d32;}
.Card.Green .Content { color: #FFF; background-color: #4caf50;}

/* blue */
.Card.Blue .Header { color: #FFF; background-color: #1565c0;}
.Card.Blue .Content { color: #FFF; background-color: #2196f4;}

/* purple */
.Card.Purple .Header { color: #FFF; background-color: #6A1Ba0;}
.Card.Purple .Content { color: #FFF; background-color: #9c27b0;}
